{% extends "landing/base.html" %}
{% load static %}

{% block content %}
    {% include "landing/components/hero_form.html" %}
    {% include "landing/components/problems_solutions.html" %}
    {% include "landing/components/cta_banner_1.html" %}
    {% include "landing/components/what_we_deliver.html" %}
    {% include "landing/components/delivery_formats.html" %}
    {% include "landing/components/cta_banner_2.html" %}
    {% include "landing/components/benefits.html" %}
    {% include "landing/components/cooperation.html" %}
    {% include "landing/components/contact_form.html" %}
    {% include "landing/components/faq.html" %}
{% endblock %}
